/engine/project/win/softbreeze/Debug
/engine/project/win/softbreeze/softbreeze.vcxproj.user
/game/project/win/Debug
/game/project/win/game.opensdf
/game/project/win/game.sdf
/game/project/win/game.v12.suo
/game/project/win/project/Debug
/game/project/win/project/game.vcxproj.user
